body {
    display: flex;
    background-color: rgb(25,30,30);
}

#calculator {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(140,120,210);
    border-radius: 10px;
}

#display {
    height: 40px;
    margin: 20px auto;
    background-color: rgb(200,200,200);
    text-align: right;
}

#button-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.button-row {
    display: flex;
    justify-content: space-around;
}

.calc-button {
    padding: 20px 30px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(50, 30, 35);
    color: rgb(240,230,240);
    font-size: 20px;
}